body {
    color: #fff;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(200px, auto));
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    max-width: 960px;
    margin: 0 auto;
}

.container div{
    background: turquoise;
    padding: 30px;
}

.container div:nth-child(even){
    background: #777;
}

